.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    min-height: var(--navbar-height);
    padding: 10px;
    background-color: var(--inverted-bg-color);
}
